body {background-image: url(https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHRyYXZlbGxpbmd8ZW58MHx8MHx8&w=1000&q=80);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #FFFFFF;
    }
h1 { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
h2 { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
h3 { font-family: 'Courier New', Courier, monospace;
     font-size: xx-large; }
p { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}